

.login-page {
  max-width: 30%;
  margin: 0 auto;
  padding: 10% 10px;
  box-shadow: none;
}

mat-card-title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}
