
<div class="top-section">
  <div class="menu-top">
    <button class="btn-back" data-title="Back to history"  [routerLink]="redirectUrl">
      <img src="assets/image/arrow-left.svg" alt="">
    </button>
    <div class="company">
      <span class="company-title">Mode: <b>{{mode}}</b> | </span> <span class="company-ref"> Ref:   <b>{{displayTitle}}</b></span>
    </div>
  </div>


  <div class="menu-right">

      <select id="select-menu"  [(ngModel)]="currentIndex"  (change)="onItemSelect($event)">
        <option *ngFor="let item of items; let i = index" [value]="i">
          {{ item['sourceBU'] }}
        </option>

      </select>

    <button class="btn-back" data-title="Next"  (click)="nextItem()" [disabled]="!showNext" id="next" [ngClass]="{'disabled': !showNext}">
      <img src="assets/image/chevron-right.svg" alt="">
    </button>

    <span style="" class="pagination"> {{display}}</span>



    <button class="btn-back" data-title="Prev" (click)="previousItem()" [disabled]="!showPrevious" id="prev" [ngClass]="{'disabled': !showPrevious}">

      <img src="assets/image/chevron-left.svg" alt="">
    </button>

  </div>

</div>
<ng-content>

</ng-content>
